body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(136, 180, 255), rgb(171, 103, 255));
}

.main {
color: #343a40;
padding: 0em 3em 4em 3em;
}

nav {
    padding: 3em 3em 1em 3em !important;
}

.navbar-toggler-icon {
    border: 1px solid white;
}

.scrolled {
    background-color: #343a40dc;
    border-radius: 0 0 25px 25px;
    padding: 2em 3em 1em 3em !important;
    transition: all 500ms ease;
}


.navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item {
    padding: 0 .5em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 0.9em;
}

.idcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 2em 2em 4em 2em;
    border-radius: 25px;
    background: #fff;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.3);
    text-transform: uppercase;
}


.idphoto img {
    border-radius: 25px;
    width: 80%;
}

.idphoto img:hover {
    filter: opacity(0.75);
    transition: filter, 1s;
}

.idbio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    text-align: justify;
}

.idbio h3 {
    font-size: 3em; 
    font-weight: 800;
}

.idbio h3:hover {
    color: rgb(136, 180, 255);
    transition: color, 1s;
}


.jobdesc {
    font-weight: 500;
    font-size: 1.3em;
}

.shortbio {
    text-transform: lowercase;
    line-height: 2;
}

.socials a {
    color: #000;
    letter-spacing: 1em;
    font-size: 1.5em;
}

.socials a:hover {
    color: rgb(136, 180, 255);
}

.projectpic {
    width: 80%;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.porty {
    text-transform: initial;
padding: 3em;
justify-content: center;
align-items: center;
}

.portcol {
    padding: 3em;
}

.portbutton {
    padding: 0.5em;
    display: block;
    width: 50%;
    text-align: center;
    color: white;
    background-color: rgb(171, 103, 255);
    border-radius: 25px;
}

.portbutton:hover {
    color: white;
    background-color: rgb(136, 180, 255);
    text-decoration: none;
}



/* About Me Page */

.terminal {
    text-transform: initial;
    background-color: #343a40;
    padding: 3em;
    margin: 2em;
    color: #f8f9fa;
    font-size: 1.5em;
    font-family: monospace;
    width: 100%;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-top: 30px solid #b1c0ce;
}

.circles {
    position: relative;
    top: -5.5rem;
    left: -50px;
    font-size: 0.9em;
}

.fa-circle {
    padding: 0.2em 0.2em;
}

.aone {
    color: #dc3545;
}

.atwo {
    color: #ffc107;
}

.athree {
    color: #28a745;
}

.labelone {
    color: #e83e8c;
}

.greentext {
    color: #28a745;
}

ul.ls {
    columns: 3;
    list-style-type: none;
}

.ls > li {
    padding: 0.5em;
}



/* hire page */

#profile-tab, #contact-tab, #home-tab {
    color: #343a40;
}

.idcard2 {
    margin: 3em;
    background-color: white;
    padding: 2em 4em;
    border-radius: 25px;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.3);
}

.card {
    margin: 1em 0;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.blocky {
    padding: 2em 1em 0 1em;
}








/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    ul.ls {
        columns: 1;
    }

    .terminal {
        padding: 1em;
        margin: 0.5em;
    }



}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-device-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width : 320px) {
    ul.ls {
        columns: 1;
    }

    .terminal {
        padding: 1em;
        margin: 0.1em;
        font-size: 0.7em
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.idcard.row {
height: 60vh;
margin-top: 10%;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}