@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
  --purple: #8D53FF;
  --pink: #CA6BE6;
  --white: #f8f8f8;
  --dark: #1e192b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 1.5vh;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.light {
  background-color: var(--white);
  color: var(--dark);
}

.dark {
  background-color: #1f1a33;
  color: var(--white);
}

.dark .navlist {
  border-bottom: 1px solid var(--white);
}

.dark a, .dark i {
  color: var(--white);
}

.dark footer {
  color: var(--white);
}

.dark .window {
  background-color: #dee6ee;
  color: var(--dark);
}

.dark .toprow {
  background-color: #575e64;
}

.shadowed {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

img {
  max-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.toggler {
  font-size: 2rem;
  cursor: pointer;
}

.toggler:hover {
  border: none;
}

/* mobile nav styles */
.navlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
  border-bottom: 1px solid #e4e4e4;
  text-transform: lowercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.brand img {
  height: 60px;
}

nav ul a {
  text-decoration: none;
  color: var(--dark);
}

nav li {
  padding: 0.5rem 0;
}

.active, nav li:hover {
  border-bottom: 3px solid var(--purple);
}

/* mobile main styles */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  width: 90vw;
  margin: 0 auto;
}

.avatar {
  width: 20rem;
  border-radius: 50%;
  background-color: #A25AF7;
  padding: .5rem;
  opacity: 0.9;
  -webkit-transition: opacity 700ms;
  transition: opacity 700ms;
}

main img:hover {
  opacity: 1;
}

main h1 {
  font-size: 3.5rem;
}

main h2 {
  font-size: 2.5rem;
}

main ul {
  padding: 1rem 0;
}

main li {
  font-size: 1.5rem;
}

.firstname {
  background: -webkit-linear-gradient(135deg, var(--purple), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emoji {
  margin-right: 1rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.socials a {
  color: var(--dark);
  -webkit-transition: color 700ms;
  transition: color 700ms;
}

.socials a:hover {
  color: var(--purple);
}

/* about page */
.about {
  margin-top: 3rem;
}

.terminal {
  overflow-x: scroll;
  width: 90%;
  margin: 4rem auto 8rem auto;
  border-radius: .5rem;
}

.toprow {
  background-color: #bdc6ce;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.6rem;
}

.toprow i {
  padding-left: 0.5rem;
}

.red, .dark .red {
  color: #FF6057;
}

.amber, .dark .amber {
  color: #FFBD2E;
}

.green, .dark .green {
  color: #27C93F;
}

.window {
  padding: 4rem 4rem;
  border-radius: 0 0 .5rem .5rem;
  background-color: var(--dark);
  color: var(--white);
}

.window p, .window li {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 1.3rem 0;
}

.pink {
  color: var(--pink);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
}

.button a {
  color: var(--white);
}

/* projects page */
.projectsgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.projectsgrid h1 {
  font-size: 3rem;
}

.projectsgrid img {
  -webkit-filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.4));
          filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.4));
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.source {
  color: var(--white);
  background-color: var(--purple);
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark);
  padding: 2rem 0;
  font-size: 1.3rem;
  opacity: 0.5;
}

/* media queries */
@media only screen and (min-width: 940px) {
  .navlist {
    max-width: 60%;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .avatar {
    width: 30%;
    margin-right: 3rem;
    padding: 0.5rem;
  }
  .terminal {
    width: 60%;
  }
  .button {
    display: none;
  }
  .projectsgrid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}
/*# sourceMappingURL=style.css.map */