@import "src/variables.modules";

.main {
  padding-top: 60px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1rem;
  margin: 2rem 0;

  h1 {
    font-size: 2rem;
  }
  img {
    filter: drop-shadow(0 0 .5rem rgba(0,0,0,0.4));
  }
  @media only screen and (min-width: 940px) {
    grid-template-columns: repeat(3, auto);
    h1 {
      font-size: 2rem;
    }
  }
}



a.source {
  color: $white;
  background-color: $purple;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
