.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 475px;

    &:hover {
      @media only screen and (min-width: 940px) {
        img {
          filter: grayscale(1) blur(5px);
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    .links {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;

      a {
        padding: 1rem;
        background-color: #8D53FF;
        border: none;
        border-radius: 0.25rem;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
      }

      @media only screen and (min-width: 940px) {
        display: none;
        position: absolute;
        z-index: 3;
      }
    }
  }
}