@import '../../variables.modules';

h1 {
  font-size: 1.25rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

h2 {
  font-size: 0.875rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 300ms ease;
}

a:hover {
  color: $red !important;
  transition: color 300ms ease;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

