@import "../variables.modules";

nav {
  transition: $transition;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}

.logo {
  width: 110px; // Adjust the width as needed
  height: auto;
  fill: #000; // Set the default logo color
}

.dark .logo {
  fill: #fff; // Set the logo color for dark mode
}
