$purple: #8d53ff;
$pink: #ca6be6;
$white: #ffffff;
$dark: #242323;
$red: #ff6057;
$yellow: #ffae00;
$green: #11c92c;
$lightgray: #afafaf;

$transition: all 300ms ease;

.shadowed {
  box-shadow: 0 0.5rem 4rem rgba(15, 15, 15, 0.45);
}
